body {
    margin: 5px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: black;
    color: #3366cc;
    font-family: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.table {
    width: 100%;
}

@media only screen and (orientation: landscape) {
    .table {
        width: 50%;
    }

    body {
        font-size: 18px;
    }
}

.table time {
    float: left;
    clear: left;
    width: 33.3%;
}

span.destination {
    float: left;
    width: 41.6%;
}

span.countdown {
    float: left;
    text-align: right;
    width: 25%;
}

.direction2 {
    color: #99ccff;
}

.direction2 time {
    .direction2;
}

.direction2 span {
    .direction2;
}

.direction1 {
    color: #cc99cc;
}

.direction1 time {
    .direction1;
}

.direction1 span {
    .direction1;
}

@media only screen and (min-width: 800px) and (orientation: portrait) {
    body {
        font-size: 48px;
    }
}

@media only screen and (min-width: 800px) and (orientation: landscape) {
    body {
        font-size: 24px;
    }
}

div.pending {
    background: #664466;
}

div.departure {
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 1.6em;
}

#expired {
    font-size: 0.8em;
}

span.siteid {
    font-size: 1.4em;
    margin-right: 0.25em;
    color: #ff9933;
}

#id {
    color: gray;
    font-style: italic;
    font-size: 0.5em;
}
